/// Initial gathered data from Material Design 3:

// md.sys.motion.spring.fast.spatial
// md.sys.motion.spring.fast.effects
// md.sys.motion.spring.default.spatial
// md.sys.motion.spring.default.effects
// md.sys.motion.spring.slow.spatial
// md.sys.motion.spring.slow.effects

// Expressive fast spatial    0.42, 1.67, 0.21, 0.90. Duration =  350ms
// Expressive default spatial 0.38, 1.21, 0.22, 1.00. Duration =  500ms
// Expressive slow spatial    0.39, 1.29, 0.35, 0.98. Duration =  650ms
// Expressive fast effects    0.31, 0.94, 0.34, 1.00. Duration =  150ms
// Expressive default effects 0.34, 0.80, 0.34, 1.00. Duration =  200ms
// Expressive slow effects    0.34, 0.88, 0.34, 1.00. Duration =  300ms

// Standard fast spatial      0.27, 1.06, 0.18, 1.00. Duration =  350ms
// Standard default spatial   0.27, 1.06, 0.18, 1.00. Duration =  500ms
// Standard slow spatial      0.27, 1.06, 0.18, 1.00. Duration =  750ms
// Standard fast effects      0.31, 0.94, 0.34, 1.00. Duration =  150ms
// Standard default effects   0.34, 0.80, 0.34, 1.00. Duration =  200ms
// Standard slow effects      0.34, 0.88, 0.34, 1.00. Duration =  300ms

/// variable naming convention:
/// --mat-motion-<speed>-<type>-<personality>
/// <speed>       - fast, default, slow
/// <type>        - spatial, effects
/// <personality> - standard, expressive

:root {
  // Fast spatial
  --mat-motion-fast-spatial-standard-duration: 350ms;
  --mat-motion-fast-spatial-standard-cb: cubic-bezier(0.27, 1.06, 0.18, 1.00);
  --mat-motion-fast-spatial-expressive-duration: 350ms;
  --mat-motion-fast-spatial-expressive-cb: cubic-bezier(0.42, 1.67, 0.21, 0.90);

  // Fast effects
  --mat-motion-fast-effects-standard-duration: 150ms;
  --mat-motion-fast-effects-standard-cb: cubic-bezier(0.31, 0.94, 0.34, 1.00);
  --mat-motion-fast-effects-expressive-duration: 150ms;
  --mat-motion-fast-effects-expressive-cb: cubic-bezier(0.31, 0.94, 0.34, 1.00);

  // Default spatial
  --mat-motion-default-spatial-standard-duration: 500ms;
  --mat-motion-default-spatial-standard-cb: cubic-bezier(0.27, 1.06, 0.18, 1.00);
  --mat-motion-default-spatial-expressive-duration: 500ms;
  --mat-motion-default-spatial-expressive-cb: cubic-bezier(0.38, 1.21, 0.22, 1.00);

  // Default effects
  --mat-motion-default-effects-standard-duration: 200ms;
  --mat-motion-default-effects-standard-cb: cubic-bezier(0.34, 0.80, 0.34, 1.00);
  --mat-motion-default-effects-expressive-duration: 200ms;
  --mat-motion-default-effects-expressive-cb: cubic-bezier(0.34, 0.80, 0.34, 1.00);

  // Slow spatial
  --mat-motion-slow-spatial-standard-duration: 750ms;
  --mat-motion-slow-spatial-standard-cb: cubic-bezier(0.27, 1.06, 0.18, 1.00);
  --mat-motion-slow-spatial-expressive-duration: 650ms;
  --mat-motion-slow-spatial-expressive-cb: cubic-bezier(0.39, 1.29, 0.35, 0.98);

  // Slow effects
  --mat-motion-slow-effects-standard-duration: 300ms;
  --mat-motion-slow-effects-standard-cb: cubic-bezier(0.34, 0.88, 0.34, 1.00);
  --mat-motion-slow-effects-expressive-duration: 300ms;
  --mat-motion-slow-effects-expressive-cb: cubic-bezier(0.34, 0.88, 0.34, 1.00);
}

@mixin animation($speed: 'fast', $type: 'spatial', $personality: 'standard') {
  animation-duration: var(--mat-motion-#{$speed}-#{$type}-#{$personality}-duration);
  animation-timing-function: var(--mat-motion-#{$speed}-#{$type}-#{$personality}-cb);
}

@mixin transition($speed: 'fast', $type: 'spatial', $personality: 'standard') {
  transition-duration: var(--mat-motion-#{$speed}-#{$type}-#{$personality}-duration);
  transition-timing-function: var(--mat-motion-#{$speed}-#{$type}-#{$personality}-cb);
}