/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 840px;
  --breakpoint-xl: 960px;
  --breakpoint-2xl: 1280px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}