@use '@angular/material' as mat;

@use 'palette_theme-colors.scss' as palette;


html {
  @include mat.system-classes();
}



:root {
  @include mat.slide-toggle-overrides((
    pressed-handle-size: 20px,
    handle-width: 48px,
    handle-height: 20px,
    selected-handle-size: 20px,
    unselected-handle-size: 20px,
    with-icon-handle-size: 20px,
    track-height: 28px,
    state-layer-size: 40px,
  ));

  body.light {
    @include mat.theme((
      color: (
        theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$yellow-palette,
        // primary: palette.$primary-palette,
        // tertiary: palette.$tertiary-palette,
      ),
      typography: (
        plain-family: 'Geologica',
        brand-family: 'Geologica',
        bold-weight: 800,
        medium-weight: 400,
        regular-weight: 200,
      ),
      density: -1
    ));
  }



  body.dark {
    @include mat.theme((
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$yellow-palette,
        // primary: palette.$primary-palette,
        // tertiary: palette.$tertiary-palette,
      ),
      typography: (
        plain-family: 'Geologica',
        brand-family: 'Geologica',
        bold-weight: 800,
        medium-weight: 400,
        regular-weight: 200,
      ),
      density: -1
    ));
  }
}