@use '@angular/material' as mat;

@use 'palette_theme-colors.scss' as palette;


html {
  @include mat.system-classes();
}



:root {
  body.light {
    @include mat.theme((
      color: (
        theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$yellow-palette,
        // primary: palette.$primary-palette,
        // tertiary: palette.$tertiary-palette,
      ),
      typography: (
        plain-family: 'Geologica',
        brand-family: 'Geologica',
        bold-weight: 800,
        medium-weight: 400,
        regular-weight: 200,
      ),
      density: -1
    ));
  }



  body.dark {
    @include mat.theme((
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$yellow-palette,
        // primary: palette.$primary-palette,
        // tertiary: palette.$tertiary-palette,
      ),
      typography: (
        plain-family: 'Geologica',
        brand-family: 'Geologica',
        bold-weight: 800,
        medium-weight: 400,
        regular-weight: 200,
      ),
      density: -1
    ));
  }
}