<div class="flex flex-col p-[16px] gap-[24px]">

  <h1 class="mat-font-headline-md">{{ 'dashboard.deposits' | translate }}:</h1>

  <mat-list class="flex! flex-col gap-[12px]">
    @for (deposit of deposits(); track $index) {
      <mat-list-item class="h-auto! p-0!">
        <mat-card
          appearance="filled"
          matRipple
          class="flex flex-col gap-[12px] cursor-pointer select-none"
          [routerLink]="['/calculator/', deposit.name()]"
        >
          <mat-card-header class="flex flex-row justify-between">
            <mat-card-title-group>
              <mat-card-subtitle>{{ 'dashboard.deposit.name' | translate }}:</mat-card-subtitle>
              <mat-card-title>{{ deposit.name() }}</mat-card-title>
            </mat-card-title-group>

            <div class="flex">
              <button class="" mat-icon-button (click)="editDeposit($event, deposit)">
                <mat-icon class="mat-text-on-surface-variant">edit</mat-icon>
              </button>

              <button class="" mat-icon-button (click)="removeDeposit($event, deposit)">
                <mat-icon class="mat-text-on-surface-variant">delete</mat-icon>
              </button>
            </div>
          </mat-card-header>

          <mat-card-content class="flex! flex-row justify-between text-right">
            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.duration' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.durationValue() }} {{ deposit.durationScale() }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.annual_rate' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.annualRate() | percent:'1.0-2' }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.principal' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.principal() | currency:currency:'symbol-narrow' }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.monthly_payment' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.monthlyDeposit() | currency:currency:'symbol-narrow' }}</p>
            </div>
          </mat-card-content>

          <mat-card-footer class="flex! flex-row justify-between text-right p-[16px] pt-[0px]">
            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.total_deposited' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.deposited() | currency:currency:'symbol-narrow' }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.interest' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.interest() | currency:currency:'symbol-narrow' }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.taxed' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.taxed() | currency:currency:'symbol-narrow' }}</p>
            </div>

            <div class="flex flex-col">
              <p class="mat-font-body-md">{{ 'dashboard.deposit.net' | translate }}:</p>
              <p class="mat-font-title-md">{{ deposit.net() | currency:currency:'symbol-narrow' }}</p>
            </div>
          </mat-card-footer>
        </mat-card>
      </mat-list-item>
    }
  </mat-list>

  <mat-card
    class="flex flex-col items-center justify-center cursor-pointer select-none"
    appearance="outlined"
    matRipple
    routerLink="/calculator"
  >
    <div>
      <mat-card-header>
        <button class="flex items-center mat-font-headline-md cursor-pointer select-none">
          <span>{{ 'dashboard.add_deposit' | translate }}</span>
          <mat-icon>add2</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content></mat-card-content>
    </div>
  </mat-card>
</div>
