

<div class="flex p-[16px] gap-[24px]">
  <mat-card appearance="filled" matRipple class="cursor-pointer select-none">
    <div>
      <mat-card-header>
        <mat-card-title>
          <span class="mat-font-headline-lg">Deposit name</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="mat-font-body-md">
          <span>20k for 1 year</span>
          <span>at 16% interest</span>
          <span>2k monthly payment</span>
        </p>

        <!-- <p>20k for 1 year at 16% interest</p> -->
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="flex flex-col items-center justify-center cursor-pointer select-none" appearance="outlined" matRipple>
    <div>
      <mat-card-header>
        <button routerLink="/calculator" class="mat-font-headline-md cursor-pointer select-none">
          <span>{{ 'dashboard.add_deposit' | translate }}</span>
          <mat-icon>add2</mat-icon>
        </button>
      </mat-card-header>
  
      <mat-card-content></mat-card-content>
    </div>
  </mat-card>
</div>
