<mat-card
  appearance="filled"
  class="flex flex-col flex-[1_1_auto] w-auto overflow-hidden mat-bg-surface-container-low"
>
  <overview-column>
    <span slot="title">
      {{ 'calculator.result.inputs' | translate }}:
    </span>

    <span slot="text">{{ 'calculator.inputs.monthly_deposit' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().monthlyDeposit()"></currency>
    </span>

    <span slot="text">{{ 'calculator.result.duration' | translate }}:</span>
    <span slot="value">
      {{ deposit().durationValue() }}
      {{ deposit().durationValue() | duration:deposit().durationScale() | translate }}
    </span>

    <span slot="text">{{ 'calculator.result.annual_interest' | translate }}:</span>
    <span slot="value">{{ deposit().annualRate() / 100 | percent:'1.0-2' }}</span>

    <span slot="text">{{ 'calculator.result.taxed' | translate }}:</span>
    <span slot="value">{{ deposit().tax() / 100 | percent:'1.0-2' }}</span>
  </overview-column>
</mat-card>

<mat-card
  appearance="filled"
  class="flex flex-col flex-[1_1_auto] w-auto overflow-hidden mat-bg-surface-container-low"
>
  <overview-column>
    <span slot="title">
      {{ 'calculator.result.accrued' | translate }}:
    </span>

    <span slot="text">{{ 'calculator.result.interest_gross' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().interest()"></currency>
    </span>

    <span slot="text">{{ 'calculator.result.interest_taxed' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().taxed()"></currency>
    </span>

    <span slot="text">{{ 'calculator.result.interest_net' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().interest() - deposit().taxed()"></currency>
    </span>
  </overview-column>
</mat-card>

<mat-card
  appearance="filled"
  class="flex flex-col flex-[1_1_auto] w-auto overflow-hidden mat-bg-surface-container-low"
>
  <overview-column>
    <span slot="title">
      {{ 'calculator.result.net' | translate }}:
    </span>

    <span slot="text">{{ 'calculator.result.principal' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().principal()"></currency>
    </span>

    <span slot="text">
      {{ 'calculator.result.deposited' | translate }}:
    </span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().deposited() - deposit().taxed()"></currency>
    </span>

    <span slot="text">{{ 'calculator.result.interest' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().interest() - deposit().taxed()"></currency>
    </span>

    <span slot="text">{{ 'calculator.result.net' | translate }}:</span>
    <span slot="value">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().net() - deposit().taxed()"></currency>
    </span>
  </overview-column>
</mat-card>
