<mat-card appearance="filled" class="flex flex-col mat-bg-primary-container mat-text-on-primary-container p-[20px_40px]">
  <div id="label">
    <span class="mat-font-label-lg">
      {{ 'calculator.result.net' | translate }}
    </span>
  </div>

  <div id="amount">
    <span class="mat-font-display-md">
      <currency [currency]="deposit().currency().symbol" [value]="deposit().net() - deposit().taxed()"></currency>
    </span>
  </div>

  <div id="meta" class="mat-font-body-md">
    <span>
      {{ deposit().durationValue() }}
      {{ deposit().durationValue() | duration:deposit().durationScale() | translate }}
    </span>
    <span> · </span>
    <span>
      <span>{{ deposit().annualRate() / 100 | percent:'1.0-2' }}</span>
    </span>
    <span> · </span>
    <span>
      <span>{{ 'calculator.result.taxed' | translate }} </span>
      <span>{{ deposit().tax() / 100 | percent:'1.0-2' }}</span>
    </span>
  </div>
</mat-card>



<mat-card
  appearance="filled"
  class="flex flex-col mat-bg-surface-container mat-text-on-surface-container p-[20px_40px]"
>
  <div class="flex flex-row justify-between mb-[8px]">
    <span class="mat-font-label-lg mat-text-on-surface-variant">
      {{ 'calculator.result.breakdown' | translate }}
    </span>
  </div>

  <div class="flex flex-row justify-between items-center py-[24px_4px] border-b border-[var(--mat-sys-outline-variant)]">
    <span class="mat-font-body-md">{{ 'calculator.result.principal' | translate }}</span>
    <span class="mat-font-label-lg">
      <currency
        [currency]="deposit().currency().symbol"
        [value]="deposit().principal()"
      ></currency>
    </span>
  </div>

  <div class="flex flex-row justify-between items-center py-[24px_4px] border-b border-[var(--mat-sys-outline-variant)]">
    <span class="mat-font-body-md">{{ 'calculator.result.total_deposits' | translate }}</span>
    <span class="mat-font-label-lg">
      <currency
        [currency]="deposit().currency().symbol"
        [value]="deposit().deposited()"
      ></currency>
    </span>
  </div>

  <div class="flex flex-row justify-between items-center py-[24px_4px] border-b border-[var(--mat-sys-outline-variant)]">
    <span class="mat-font-body-md">{{ 'calculator.result.interest_gross' | translate }}</span>
    <span class="mat-font-label-lg">
      <currency
        [currency]="deposit().currency().symbol"
        [value]="deposit().interest()"
      ></currency>
    </span>
  </div>

  <div class="flex flex-row justify-between items-center py-[24px_4px] border-b border-[var(--mat-sys-outline-variant)]">
    <span class="mat-font-body-md">{{ 'calculator.result.interest_taxed' | translate }}</span>
    <span class="mat-font-label-lg flex flex-row ml-[-10px]">
      <span>–&nbsp;</span>
      <currency
        [currency]="deposit().currency().symbol"
        [value]="deposit().taxed()"
      ></currency>
    </span>
  </div>

  <div class="flex flex-row justify-between items-center py-[24px_4px] border-b border-[var(--mat-sys-outline-variant)]">
    <span class="mat-font-body-md">{{ 'calculator.result.interest_net' | translate }}</span>
    <span class="mat-font-label-lg">
      <currency
        [currency]="deposit().currency().symbol"
        [value]="deposit().interest() - deposit().taxed()"
      ></currency>
    </span>
  </div>
</mat-card>