@use '../global-styles/md3-expressive-polyfill.scss' as *;



mat-sidenav,
.mat-drawer {
  background-color: var(--mat-sys-surface-container-low);
}

.mx-auto {
  transition-property: width;
  @include transition('fast', 'spatial', 'standard');
}

.sm {
  width: 600px;
}

.md {
  width: 800px;
}

.lg, .xlg {
  width: 1200px;
}
