@use '../global-styles/md3-expressive-polyfill.scss' as *;



.calc {
  .screen {
    background-color: var(--mat-sys-secondary);
    border-radius: 2px;
  }
  .key {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background-color: var(--mat-sys-tertiary);
  }
  .key.op {
    background-color: var(--mat-sys-secondary);
  }
}


.mx-auto {
  transition-property: width;
  @include transition('fast', 'spatial', 'standard');
}

.sm {
  width: 600px;
}

.md {
  width: 800px;
}

.lg, .xlg {
  width: 1200px;
}
