<mat-toolbar class="justify-between">
  <div class="flex flex-row justify-between mx-auto {{ size() }}">
    <div class="start">
      <span
        class="mat-font-headline-md cursor-pointer select-none mat-text-on-surface-variant"
        routerLink="/"
      >
        {{ 'toolbar.deposit_calculator' | translate }}
      </span>

      <span class="mat-font-label-lg mat-text-disabled">
        {{ 'toolbar.version' | translate }} {{ appVersion() }}
      </span>
    </div>

    <div class="flex flex-row gap-[8px] end">
      <button matButton [matMenuTriggerFor]="currencyMenu">
        <mat-icon class="mat-text-secondary mat-font-label-lg">{{ preferredCurrency().symbol }}</mat-icon>
        <span class="mat-text-on-surface-variant">{{ 'toolbar.currency' | translate }}</span>
      </button>

      <mat-menu #currencyMenu="matMenu">
        @for (currency of currencies; track currency) {
          <button
            mat-menu-item
            (click)="changePreferredCurrency(currency)"
          >
            {{ currency.symbol }} {{ 'units.currency.' + currency.code | translate }}
          </button>
        }
      </mat-menu>

      <button matButton [matMenuTriggerFor]="menu">
        <mat-icon class="mat-text-on-surface-variant">translate</mat-icon>
        <span class="mat-text-on-surface-variant">{{ 'toolbar.language' | translate }}</span>
      </button>

      <mat-menu #menu="matMenu">
        @for (language of languages; track language) {
          <button mat-menu-item (click)="selectLanguage(language)">{{ language.name }}</button>
        }
      </mat-menu>

      <button matIconButton (click)="toggleTheme()">
        <mat-icon class="mat-text-on-surface-variant">{{themeIcon()}}</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>

<div class="mx-auto pt-[24px] {{ size() }}">
  <router-outlet></router-outlet>
</div>
