<ng-template #inputFragment>
  <span class="mat-font-title-lg mat-text-on-surface truncate">
    {{ deposit().name() }}
  </span>

  <span class="mat-font-label-sm mat-text-on-surface-variant break md:flex md:flex-row">
    <div>
      {{ deposit().durationValue() }}
      {{ deposit().durationValue() | duration:deposit().durationScale() | translate }}
      ·
      {{ deposit().annualRate() / 100 | percent:'1.0-2' }}
    </div>

    <span class="hidden md:inline">&nbsp;·&nbsp;</span>

    <span>
      {{ deposit().principal()
        | currency : deposit().currency().code : 'symbol-narrow': '1.0-0' : translate.currentLang()!
      }}

      &nbsp;+&nbsp;
      {{ deposit().monthlyDeposit()
        | currency : deposit().currency().code : 'symbol-narrow' : '1.0-0' : translate.currentLang()!
      }}/{{ 'deposit_card.a_month' | translate }}
    </span>
  </span>
</ng-template>

<ng-template #outputFragment>
  <span class="mat-font-title-lg mat-text-on-surface">
    {{ deposit().net()
      | currency : deposit().currency().code : 'symbol-narrow' : '1.2-2' : translate.currentLang()! }}
  </span>

  <span class="mat-font-body-sm mat-text-on-surface-variant">
    <span>+</span>
    <span>&nbsp;</span>
    <span>
      {{ deposit().interest()
        | currency : deposit().currency().code : 'symbol-narrow' : '1.2-2' : translate.currentLang()! }}
    </span>
  </span>
</ng-template>

<ng-template #buttons>
  <button class="mat-text-primary" matIconButton (click)="editDeposit.emit($event)">
    <mat-icon class="flex! justify-center items-baseline">edit</mat-icon>
  </button>

  <button class="mat-text-primary" matIconButton (click)="removeDeposit.emit($event)">
    <mat-icon class="flex! justify-center items-baseline">delete</mat-icon>
  </button>
</ng-template>



<mat-card
  appearance="filled"
  matRipple
  role="link"
  tabindex="0"
  class="cursor-pointer select-none mat-bg-surface-container-high"
>
  <mat-card-content class="p-[12px_12px]!">
    <div class="flex flex-col justify-between items-center gap-1 flex-nowrap">
      <div class="flex flex-row w-full justify-between items-center">
        <span
          class="mat-bg-primary-container mat-corner-sm mat-font-label-lg mat-text-on-primary-container px-2 py-1"
        >
          {{ 'deposit_card.label' | translate }}
        </span>

        <div class="flex flex-row">
          <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
      </div>



      <div class="flex flex-row justify-between items-center w-full">
        <!-- Content -->
        <div class="flex flex-row items-baseline justify-between w-full">
          <!-- Text fragments -->
          <div class="flex flex-col gap-1">
            <ng-container *ngTemplateOutlet="inputFragment"></ng-container>
          </div>

          <div class="flex flex-col items-end gap-1">
            <ng-container *ngTemplateOutlet="outputFragment"></ng-container>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>