<div class="p-[20px]">

  <form [formGroup]="calculatorForm">
    <mat-form-field >
      <mat-label>Initial deposit</mat-label>
      <input matNativeControl type="number" formControlName="initialDeposit" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Monthly deposit</mat-label>
      <input matInput type="number" formControlName="monthlyDeposit" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Annual interest</mat-label>
      <input matInput type="number" formControlName="annualInterest" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Months duration</mat-label>
      <input matInput type="number" formControlName="monthsDuration" />
    </mat-form-field>
  </form>

  @if (ready()) {
    {{ result().gross }}
  } @else {
    <p>Enter minimal parameters</p>
  }

</div>