mat-sidenav {
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: width;

  & .expand {
    width: 220px;
  }

  & .collapse {
    width: 96px;
  }



}



.m3-navigation-rail {
  background-color: var(--mat-sys-surface-container-low) !important;
  border-right: 1px solid var(--mat-sys-outline-variant);

  .mat-mdc-list-item {
    height: 56px;
    border-radius: 9999px;
    margin: 4px 12px;
  }

  .mat-mdc-list-item-active {
    background-color: var(--mat-sys-secondary-container) !important;
    color: var(--mat-sys-on-secondary-container);
  }

  .rail-toggle {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}